{%extends 'base.html'%}
{% load staticfiles %}
{% block title %} About Us {% endblock %}


{% block content %}
        <div class="container" style="margin-top: 50px;">
        <div class="col-md-10 col-md-offset-2 about">
            <article class="top-box">
                <section>
                    <h2>About Tipoff-Reporting</h2>
                    <p>
                        NHS tipoff reporting service is an independent platform for anonymously reporting of unethical
                        behaviour. The platform seeks to provide a secure and confidential way of receiving information
                        from whistleblowers.
                    </p>
                    <p>
                        Whistleblowing is an important element in detecting fraudulent, illegal, corrupt or other
                        undesirable conduct. Through whistleblowing, the company seeks to
                        <ul>
                        <li>Encourage and facilitate disclosure of such fradulent, illegal, corrupt or undesirerable
                            conduct; </li>
                        <li>Provide anonymity for staff making these disclosures; </li>
                        <li>Provide protection for persons who may fear or suffer reprisals in relation to such disclosures; </li>
                    </ul>
                    </p>
                </section>
                <section>
                    <h2>Our Commitment </h2>
                    <p>NHS is committed to conducting business in a fair and transparent manner. As such, the company
                        has adopted zero tolerance to all forms of fraud or corruption in all its business dealings with
                        all stakeholders. The Board and Management of NHS are committed to ensuring that all activities
                        are conducted without any form of prejudice to the company, customers and all stakeholders.
                        The company is also committed to dealing with all reported cases of suspected or actual fraud,
                        corruption or unethical behavior in an utmost transparent and fair manner in accordance with
                        its procedures and applicable laws of the country.</p>
                </section>
                <section>
                    <h2>Making a Whistleblower's Report</h2>
                    <p>
                        A whistleblower should report conduct by any NHS employee or member which, in the opinion of the
                        whistleblower (acting in good faith) is:
                        <ul>
                            <li>dishonest</li>
                            <li>fraudulent</li>
                            <li>corrupt</li>
                            <li>illegal</li>
                            <li>unethical</li>
                            <li>other serious improper conduct</li>
                            <li>an unsafe work practise</li>
                            <li>any other conduct which may cause financial or non financial loss to the company or otherwise
                            detrimental to the interest of NHS.</li>
                        </ul>
                    </p>
                    <br>
                </section>
            </article>
        </div>
    </div>
{% endblock %}